.home-page {
  display: flex;
}
.container {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
.classHeader {
  background-color: #8f6cc6;
  text-align: center;
  font-size: 20px;
}
th {
  max-width: 15%;
  padding: 10px;
  color: white;
}
td {
  height: 80px;
  box-shadow: 1px 1px 1px -1px #8f6cc6;
  text-align: center;
}
.team-name {
  font-weight: bolder;
  text-align: left;
}
/* .add-team {
    max-width: 25%;
    background-color: #8F6CC6;
    margin-top: 100px;
  } */
