*{
    background-color:white;
    
}
h4{
    font-size: 25px;
}
h5{
    font-size: 20px;

}
p{
    font-size: 25px;

}


 
 .update div{
    width: 100px;
    height: 100px;
 }
 input{
    max-height: 10rem;
    max-width: 30rem;
    background-color: blueviolet;
    display: block;
    align-items: center;
    justify-content: space-around;
    max-height: 50em;
    max-width: 20rem;
 }
 .buttons{
    background-color:purple;
    border-radius: 10rem;
    color: white;
    height:40px;
    width: 130px;
   
 }

