*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px; */
}

li{
  list-style: none;
}

.nav__bar{
  background-color: #653FA2;
  height: 10vh;
  line-height: 10vh;
  max-width: 100%;
  margin:auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration: none;
}

.nav__logo{
  font-size: 20px;
}
.nav__links{
  width: 75%;
  display: flex;
  justify-content: flex-end;
}

/* .container{
  max-width: 100%;
  margin:auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
} */

.nav__links li{
  color:white;
  font-size: 20px;
  padding: 0 10px;
  margin: 0 10px;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
}


.mobile__menu__icon{
  display: none;
}

/*  Responsiveness media queries*/

@media (max-width: 768px) {
  .nav__links{
    display: none;
  }
   
  .nav__links__mobile{
    position: absolute;
    display: block;
    list-style:none;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
    left: 0;
    top: 10%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background-color: #8F6CC6;
  }
  ul li{
    padding: 32px;
    width: 100%;
    transition: all 05s ease-in-out;
    text-align: center;
  }

  .mobile__menu__icon{
    position: absolute;
    display: block;
    right: 20px;
  }
}

